<?xml version="1.0" encoding="utf-8" ?>
<!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="D:/GlobalErrorHandlingLogs/Internal_log/internal-nlog.txt">

    <targets>
        <target xsi:type="File" name="logfile" 
                fileName="D:/GlobalErrorHandlingLogs/logs/${shortdate}_logfile.txt"
                layout="${longdate} ${level:uppercase=true} ${message}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
</nlog>-->

<nlog autoReload="true" throwExceptions="false"
      internalLogLevel="Error" internalLogFile="NLogError.log"
      xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target xsi:type="File" name="logfile"
        fileName="D:/GlobalErrorHandlingLogs/logs/${shortdate}_logfile.txt"            
        layout="${longdate} ${level:uppercase=true} ${message}" 
        newLine ="false"
        maxMessageSize="65000"
        connectionCacheSize="5"
        encoding="utf-8"
        keepConnection="false"
        maxQueueSize="100"
        address="tcp://abc.xyz.org:5544"
        onOverflow="Split">
      <layout type="JsonLayout">
        <attribute name="machinename" layout="${machinename}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="processname" layout="${processname}" />
        <attribute name="processid" layout="${processid}" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>